body {
    font-family: consolas, sans-serif;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}

h1 {
    font-size: 5vw;
}

p {
    font-size: 1vw;
}

.left {
    background-color: red;
    float: left;
    width: 50%;
  }
  
.right {
    background-color: red;
    float: left;
    width: 50%;
  }

@media screen and (max-width: 800px) {
    .left, .right {
      width: 100%;
    }
  }