body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 500%;
    text-align: center;
}

p {
    font-size: 110%;
}

a {
    color: white;
    font-size: 150%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

.container {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 20%;
    bottom: 30%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    .box {
        display: flex;
        align-items:center;
        justify-content:center;
        padding: 0%;
    }
}

.subcontainer {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 20%;
  bottom: 30%;
  display: grid;
  text-align: justify;
  text-justify: inter-word;
  grid-template-columns: 100%;
  grid-row: auto auto;
  .box {
      display: flex;
      align-items:center;
      justify-content:center;
      padding: 0%;
  }
}

.socials {
    grid-template-columns: 33% 33% 33%; 
    display: grid;
}

.about {
  text-align: justify;
  text-justify: none;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 100%;
    grid-row: auto;
  }
  .subcontainer {
    left: 10%;
    right: 10%;
  }
  .socials {
    grid-template-columns: 100%;
  }
}

.scroll {
  white-space: nowrap;
  margin: 0;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

.scroll div {
  display: inline-block;
  gap: 2em;
}

.scroll p {
  left: 0%;
  top: 50%;
  font-size: 2500%;
  margin-bottom: 0;
  line-height: 20px;
  color: rgb(40, 40, 40);
}

.RightToLeft {
  animation: RightToLeft 3840s infinite linear;
}

@keyframes RightToLeft {
  from {
    transform: translateX(-10%);
  }  
  to {
    transform: translateX(-150%);
  }
}

.animate-in {
  -webkit-animation: fadeIn .5s ease-in-out;
  animation: fadeIn .5s ease-in-out;
}

.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
